{% extends 'usercenter-base.html' %}
{% block title %}My Courses - Expert Edge{% endblock %}
{% block custom_bread %}
     <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">Home Page</a>></li>
                <li><a href="{% url 'users:info' %}">Personal Center</a>></li>
                <li>My Courses</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_form %}
       <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>My Courses</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for user_course in user.usercourse_set.all %}
                    <div class="module1_5 box">
                            <a href="{% url 'course:detail' user_course.course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{ user_course.course.image.url }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course:detail' user_course.course.id %}"><h2>{{ user_course.course.name }}</h2></a>
                                <span class="fl">Lesson time: <i class="key">{{ user_course.course.learn_times }}</i></span>
                                <span class="fr">Number of students: {{ user_course.course.students }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ user_course.course.course_org.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ user_course.course.fav_nums }}</span>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

